## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [ ]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [1]:
# Your code here
import random
limit = 80
Start = 1
Stop = 99
simple_list_1 = [random.randint(Start, Stop) for iter in range(80)]

print(simple_list_1)
print(len(simple_list_1))

[41, 72, 55, 27, 93, 53, 35, 16, 9, 27, 94, 33, 26, 80, 70, 99, 86, 86, 47, 4, 44, 79, 79, 40, 16, 16, 32, 92, 94, 13, 87, 21, 73, 10, 18, 58, 21, 36, 68, 65, 61, 94, 40, 86, 52, 25, 28, 43, 6, 15, 17, 16, 27, 62, 25, 14, 40, 21, 4, 61, 85, 66, 90, 66, 21, 1, 36, 92, 53, 72, 99, 65, 92, 40, 59, 5, 47, 50, 23, 31]
80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [2]:
# Your code here
simple_list_1 = [22, 88, 95, 50, 31, 77, 32, 84, 22, 10, 96, 77, 57, 79, 53, 20, 76, 23, 68, 11, 99, 94, 22, 16, 14, 11, 18, 9, 74, 13, 41, 32, 50, 61, 85, 18, 50, 86, 77, 63, 21, 38, 27, 78, 82, 87, 14, 87, 78, 93, 27, 90, 85, 44, 74, 43, 56, 11, 58, 77, 27, 47, 86, 51, 18, 58, 14, 19, 79, 49, 25, 88, 75, 41, 78, 55, 69, 47, 39, 35]
set1 = set(simple_list_1)
print(set1)
print(len(set1))

{9, 10, 11, 13, 14, 16, 18, 19, 20, 21, 22, 23, 25, 27, 31, 32, 35, 38, 39, 41, 43, 44, 47, 49, 50, 51, 53, 55, 56, 57, 58, 61, 63, 68, 69, 74, 75, 76, 77, 78, 79, 82, 84, 85, 86, 87, 88, 90, 93, 94, 95, 96, 99}
53

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [3]:
# Your code here
import random
limit = 80
Start = 1
Stop = 99
simple_list_2 = [random.randint(Start, Stop) for iter in range(80)]

print(simple_list_2)
print(len(simple_list_2))

[19, 49, 83, 74, 84, 98, 93, 32, 99, 1, 8, 25, 40, 63, 29, 15, 64, 73, 34, 5, 70, 56, 85, 49, 90, 68, 12, 3, 94, 77, 64, 13, 50, 15, 23, 67, 70, 34, 53, 72, 77, 45, 61, 32, 3, 30, 33, 17, 27, 63, 50, 50, 35, 8, 94, 30, 81, 56, 99, 51, 29, 35, 31, 97, 81, 12, 74, 96, 64, 61, 42, 28, 12, 36, 71, 85, 57, 88, 42, 33]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [4]:
# Your code here
simple_list_2 = [78, 53, 88, 85, 99, 29, 97, 50, 31, 61, 74, 63, 33, 62, 61, 45, 51, 20, 88, 16, 52, 45, 91, 4, 13, 65, 93, 35, 32, 26, 76, 4, 65, 22, 76, 31, 81, 8, 89, 71, 46, 19, 92, 41, 63, 72, 43, 50, 34, 75, 1, 84, 58, 63, 10, 83, 45, 41, 28, 21, 77, 64, 19, 57, 68, 2, 94, 66, 49, 82, 99, 80, 21, 59, 60, 99, 34, 55, 62, 12]
set2 = set(simple_list_2)
print(set2)
print(len(set2))

{1, 2, 4, 8, 10, 12, 13, 16, 19, 20, 21, 22, 26, 28, 29, 31, 32, 33, 34, 35, 41, 43, 45, 46, 49, 50, 51, 52, 53, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 71, 72, 74, 75, 76, 77, 78, 80, 81, 82, 83, 84, 85, 88, 89, 91, 92, 93, 94, 97, 99}
62

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [5]:
# Your code here
set1 = {1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80}
print(len(set1))
set3=set(set1)
print("Set3:",set3)
print(len(set3))

80
Set3: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80}
80

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [ ]:
# Your code here
set2 = {1, 2, 4, 8, 10, 12, 13, 16, 19, 20, 21, 22, 26, 28, 29, 31, 32, 33, 34, 35, 41, 43, 45, 46, 49, 50, 51, 52, 53, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 71, 72, 74, 75, 76, 77, 78, 80, 81, 82, 83, 84, 85, 88, 89, 91, 92, 93, 94, 97, 99}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [ ]:
# Your code here
set1 = {1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80}
set2 = {1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80}
set1.update(set2)
set1

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [ ]:
# Your code here

#### Create an empty set called `set6`.

In [ ]:
# Your code here
set6 = {}

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [4]:
# Your code here
set3 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80}
set5 = {1, 2, 4, 8, 10, 12, 13, 16, 19, 20, 21, 22, 26, 28, 29, 31, 32, 33, 34, 35, 41, 43, 45, 46, 49, 50, 51, 52, 53, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 71, 72, 74, 75, 76, 77, 78, 80, 81, 82, 83, 84, 85, 88, 89, 91, 92, 93, 94, 97, 99}
set6 = set3.update(set5)

#### Check if `set1` and `set6` are equal.

In [8]:
# Your code here
set1 = {1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80}
print(len(set1))

80

In [10]:
set6 = {1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80}
print(len(set1))

80

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [ ]:
# Your code here

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [ ]:
# Your code here

#### Using the `pop` method, remove the first element from `set1`.

In [23]:
# Your code here
set1 = set1 = {1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80}
set1.pop()

print(set1)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [20]:
# Your code here
set1 = {1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80}
set1.remove(19, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99)
print('Updated language set:', set1)

Updated language set: {2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80}